<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
WELCOME TO WEBCALENDAR 2022™
<p>
    <a href="@{january()}">January</a>
</p>
<p>
    <a href="@{february()}">February</a>
</p>
<p>
    <a href="@{march()}">March</a>
</p>
<p>
    <a href="@{april()}">April</a>
</p>
<p>
    <a href="@{may()}">May</a>
</p>
<p>
    <a href="@{june()}">June</a>
</p>
<p>
    <a href="@{july()}">July</a>
</p>
<p>
    <a href="@{august()}">August</a>
</p>
<p>
    <a href="@{september()}">September</a>
</p>
<p>
    <a href="@{october()}">October</a>
</p>
<p>
    <a href="@{november()}">November</a>
</p>
<p>
    <a href="@{december()}">December</a>
</p>
<p>
    <a href="@{mycalendars()}">My Calendars</a>
</p>
<p>
    <a href="@{myevents()}">My Events</a>
</p>
</div>
</body>
</html>